[run]
source = .
omit =
    */migrations/*
    */venv/*
    */tests/*
    */__pycache__/*
    manage.py
    */settings.py
    */wsgi.py
    */asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
