# Django
SECRET_KEY=your-secret-key-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (PostgreSQL)
DB_NAME=postgres
DB_USER=postgres.iepyxuaqfhupkzvmhkwz
DB_PASSWORD=theDancingJov3!
DB_HOST=aws-1-us-east-2.pooler.supabase.com
DB_PORT=5432

# Celery (Redis)
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# External Services
BROWSERBASE_API_KEY=bb_live_gcqWmMsK_LavBkR3toKO5Wy84Dc
BROWSERBASE_PROJECT_ID= e41a161b-dc0c-48ce-9479-2a479275c605
STAGEHAND_API_KEY=
GEMINI_API_KEY=AIzaSyD_nhDttFFVcAR_1rwls3S9xj_7l6XcuPI
GEMINI_MODEL_NAME=gemini-2.5-computer-use-preview-10-2025

# Supabase Blob Storage
SUPABASE_URL=https://iepyxuaqfhupkzvmhkwz.supabase.co
SUPABASE_KEY=sb_secret_ayywnsDEOepUuqvdNl3GPA_EN2qmyiP
SUPABASE_BUCKET=ReplayQAStorage